apiVersion: gobackup.io/v1
kind: Backup
metadata:
  name: my-first-backup
spec:
  databaseRefs:
    - apiGroup: gobackup.io
      type: Database
      name: example-postgresql
  storageRefs:
    - apiGroup: gobackup.io
      type: Storage
      name: s3-direct
      keep: 5
      timeout: 300
  compressWith:
    type: gzip
  # Schedule is omitted for immediate backup trigger
  schedule:
    cron: "*/1 * * * *" # Run every minute for testing