apiVersion: gobackup.io/v1
kind: Backup
metadata:
  name: my-first-backup
  namespace: manual-test
spec:
  databaseRefs:
    - apiGroup: gobackup.io
      type: PostgreSQL
      name: test-postgres
  storageRefs:
    - apiGroup: gobackup.io
      type: S3
      name: test-s3
      keep: 5
      timeout: 300
  compressWith:
    type: gzip
  # Schedule is omitted for immediate backup trigger
  schedule:
    cron: "*/1 * * * *" # Run every minute for testing