---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: s3s.gobackup.io
spec:
  group: gobackup.io
  names:
    kind: S3
    listKind: S3List
    plural: s3s
    singular: s3
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: S3 is the Schema for the s3s API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: S3Spec defines the desired state of S3
            properties:
              accessKeyID:
                type: string
              bucket:
                type: string
              endpoint:
                type: string
              forcePathStyle:
                type: boolean
              maxRetries:
                type: integer
              path:
                type: string
              region:
                type: string
              secretAccessKey:
                type: string
              storageClass:
                type: string
              type:
                type: string
            required:
            - storageClass
            type: object
          status:
            description: S3Status defines the observed state of S3
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
