name: E2E Tests
on:
  pull_request:
  push:
    branches:
      - "main"
      - "master"
jobs:
  e2e:
    name: End-to-End Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26.0'
          cache: true

      - name: Set up Kind
        uses: helm/kind-action@v1.10.0
        with:
          cluster_name: gobackup-operator

      - name: Build and Run E2E Tests
        run: |
          make test-e2e
        env:
          IMG: payamqorbanpour/gobackup-operator:dev
